# Docker user & group IDs
JELLYFIN_UID=
JELLYFIN_GID=

QBITTORENT_PUID=
QBITTORENT_PGID=

SONARR_PUID=
SONARR_PGID=

RADARR_PUID=
RADARR_GID=

LIDARR_PUID=
LIDARR_GID=

# Timezone
TZ=

# Ports
QBITTORENT_WEBUI_PORT=
QBITTORENT_TORRENTING_PORT=

SONARR_PORT=
RADARR_PORT=
LIDARR_PORT=
PROWLARR_PORT=
UPTIMEKUMA_PORT=

# Published URLs
JELLYFIN_PUBLISHED_URL=

# Media paths
MUSIC_PATH=
MOVIES_PATH=
TV_PATH=
DOWNLOADS_PATH=

